[Unit]
Description={{ service }}
After=syslog.target network.target

[Service]
EnvironmentFile={{ directory }}/.env
SyslogIdentifier={{ service }}
User={{ user }}
Group={{ group }}
ExecStart=/usr/bin/java -Dserver.port=${APP_PORT} -jar {{ directory }}/{{ artifact }}
WorkingDirectory={{ directory }}
Restart=always

[Install]
WantedBy=multi-user.target
